name: Update tournament stats
on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # без cache

      - name: Install dependencies
        run: npm i # можно npm ci || npm i, если захочешь

      - name: Install Playwright Chromium
        run: npx playwright install --with-deps chromium

      - name: Run scraper
        run: npm run scrape

      - name: Commit stats
        uses: EndBug/add-and-commit@v9
        with:
          add: "stats/*.json"
          message: "Update stats [skip ci]"
          default_author: github_actions
